{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Carrer Info</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styling/carrer.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   

</head>
<body>
    <div>
        <div id="main">
            <nav>
                <a href="index.html"><img src="{% static 'img/bg-img/FF.png' %}"  width="70" height="40" alt=""></a>
            <ul>
            <li><a href="live">OUR PRODUCTS</a></li>
            <li><a href="cook">COOKING FACTS</a></li>
            <li><a href="recipe_info">RECIPES</a></li>
            <li><a href="carrer">CARRERS</a></li>
            <li><a href="story">OUR STORIES</a></li>
        </ul>
            </nav>
        </div>
        <div></div> 
    </div>
    

    
    <div class="fact">
        <h1>carrers</h1>
    </div>
    <div class="cont">
        <div class="box">
            
              <div class="imgbx">
                <h1>Employement opportunity</h1>
                <p>With a local workforce over 100 employees strong, Finity Farm understands the importance of having a skilled and dedicated team.</p>
                <p>We're always looking for enthusiastic, dedicated people to join us. Take a look at our current opportunities, or complete and forward the application form below with your résumé to our Human Resources department.</p>
               </div>   
        
            <div class="rep">
              <div class="dinner">
                <div class="dinner_inn">
                   <a href="#"> <h1>Job Application Form</h1></a>
                    <h2>HR Department</h2>
                    <h2>Finity Farm Ltd.</h2>
                    <h2> P.O. Box 803</h2>
                    <h2>902/907 East White Hills Road</h2>
                   <h2>St. John’s, NL A1C 5L7</h2>
                   <h3>careers@countryribbon.com</h3>
                  <h2>Tel: (709) 722-3751 • Fax: (709) 722-6010</h2>
                <!--<h1>FINITY FARM INT</h1>-->
              </div>
      </div></div>
             
            </div>
            
            
           <div class="opp">
             <h1>CURRENT OPPORTUNITIES</h1>
           </div>
  
            <div class="box1">
            
              <div class="imgbx1">
                <h1>Farm Labourers (Part-time)</h1>
                  </div>   
        
            <div class="rep1">
              <div class="dinner1">
                <h1>Finity Farm Ltd</h1>
                <h2>FARM LABOURERS (Part-time) </h2>
                <p>Finity Farm Ltd. is an integrated livestock  production and processing company that markets products under the Country Ribbon, Pinehill and other brand names.  Country Ribbon operates a livestock feed mill, production complex and processing plant in the St. John’s area.</p>
                <p>We have openings at our Cochrane Pond (St. John’s area) Poultry Farm Complex for Farm Labourers.  Applicants must be willing to work in a farm setting with live animals and be mechanically inclined, have own transportation and be willing to work shift work.  This is a unionized position with a starting rate of pay of $18.50 per hour.   Possession of a valid driver’s license is required.  Previous experience in working in an agricultural environment would be a definite asset.</p>
                <h2>Resumes may be either:</h2>
                <ul>
               <li>Mailed to P.O. Box 803, St. John’s, NL  A1C 5L7</li>
               <li>Faxe to 709-722-6010</li>
               <li>Emailed to careers@countryribbon.com</li>
               <li>Please indicate FARM LABOURER on the envelope or fax sheet.</li>
                 </ul>  
            </div>
              </div></div>
             
            </div>
              
        
           
                 
                    
              
    <footer>
        Finity Farm limited
    </footer>
    
        
    <div class="footer-main-div">
        <div class="footer-social-icons">
            <ul>
                <li><a href="#" target="blank"><i class="fab fa-facebook-f"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-twitter"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-google-plus-square"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-snapchat"></i></a></li>
           
            </ul>
        </div>
       
        <div class="footer-menu-two">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-menu-three">
            <ul>
            <li><a href="">Distributors</a></li>
            <li><a href="">Cooking Facts</a></li>
            <li><a href="">Recipes</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Services</a></li>
            </ul>
        </div>
        <div class="phone">
            <h3>(Monday to Saturday ,9am to 6pm)</h3>
            <h2>+23424108205</h2>
    
        </div>
        <div class="address">
            <h2>nuel4xelence@gmail.com</h2>
            <h2>33 lord lugard street ikoyi,lagos nigeria</h2>
            
        </div>
    
    <div class="footer-bottom">
    <h1>developed by:</h1>
    <!--<h4>nuel4xelence@yahoo.com</h4>-->
    
    </div>
    </div>
    

</body>
</html>