{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'styling/head.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'styling/cook.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
     <title>Cooking facts</title>
</head>
<body>
    <div>
        <div id="main">
            <nav>
                <a href="index.html"><img src="{% static 'img/bg-img/FF.png' %}"  width="70" height="40" alt=""></a>
            <ul>
                
                <li><a href="live">OUR PRODUCTS</a></li>
            <li><a href="cook">COOKING FACTS</a></li>
            <li><a href="recipe_info">RECIPES</a></li>
            <li><a href="carrer">CARRERS</a></li>
            <li><a href="story">OUR STORIES</a></li>
        </ul>
            </nav>
        </div>
    
    <div class="fact">
        <h1>cooking facts</h1>
    </div>
    <div class="recipe_info">
    <div class="cook">
        <p>Canadians love chicken – we choose it more often than any other protein. Finity Farm Ltd chicken’s versatility and convenience make it a great choice for everyday meals and entertaining. As with all foods, it is always important to take care when handling and cooking chicken. Here are some helpful tips to ensure that your meal is both safe and delicious!</p>
    </div>
    <div class="store">
        <h1>Store</h1>
        <ul>
            <li><p>Whole chicken, and chicken pieces will stay fresh in your refrigerator for between 2 and 3 days. Giblets have a slightly shorter shelf life, at 1-2 days. Ground chicken should not be stored longer than one day, so it makes sense to buy it the day you plan to use it.</p></li>
            <li><p>Chicken can be safely frozen indefinitely, but for optimum flavour and texture, whole chicken should not be frozen for more than one year, chicken pieces should not be frozen more than six months, and giblets and ground chicken should not be frozen more than several months</p></li>
        </ul>
    </div>
    <div class="defroze">
        <h1>Defrosting</h1>
        <ul>
        <li><p>To ensure that your chicken is cooked evenly, always defrost completely before cooking frozen chicken products, (if you’re using our cook-from-frozen products, check box for cooking instructions).</p></li>
        <li><p>Never thaw on the counter – the best way is either in the fridge for five hours per kilogram, or under a steady stream of cold water (don’t cheat…using warm water can encourage bacteria growth.)
        </p></li>
        </ul>
        </div>
    
    <div class="handle">
        <h1>Handling</h1>
        <ul>
        <li><p>Get your chicken into the refrigerator or freezer as soon as possible after buying – no leaving it in the car while you run other errands!</p></li>
        <li><p>Restaurants often use different colored cutting boards for meats than for vegetables. It’s a great way to cut your risk of cross-contamination.</p></li>
        <li><p>Always wash hands before and after handling all raw food products, including packaging. Ensure that all surfaces that come into contact with meat, packaging, utensils, or your hands are carefully cleaned with soap and water before using them for other purposes.</p></li>
        <li><p>Never use the same plate or utensils for raw and cooked chicken.</p>
        </li></ul>
    </div>
    <div class="cooking">
        <h1>Cooking</h1>
        <ul>
        <li><p>Rubbing salt into chicken skin before grilling or baking helps it cook to crispy, golden- just be careful not to get salt onto the meat itself…it will dry it out.</p></li>
        <li><p>A minimum internal temperature of 160 degrees F must be reached in order to kill any bacteria. Using a digital meat thermometer is the best way to be sure your chicken is cooked.</p></li>
        <li><p>Be sure to insert it into the thickest part of the chicken to ensure an accurate reading.</p></li>
    
    </ul>
    </div>
    </div>
    </div>
    <footer>
        Finity Farm limited
    </footer>
    
        </div>
    <div class="footer-main-div">
        <div class="footer-social-icons">
            <ul>
                <li><a href="#" target="blank"><i class="fab fa-facebook-f"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-twitter"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-google-plus-square"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-snapchat"></i></a></li>
           
            </ul>
        </div>
       
        <div class="footer-menu-two">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-menu-three">
            <ul>
            <li><a href="">Distributors</a></li>
            <li><a href="">Cooking Facts</a></li>
            <li><a href="">Recipes</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Services</a></li>
            </ul>
        </div>
        <div class="phone">
            <h3>(Monday to Saturday ,9am to 6pm)</h3>
            <h2>+23424108205</h2>
    
        </div>
        <div class="address">
            <h2>nuel4xelence@gmail.com</h2>
            <h2>33 lord lugard street ikoyi,lagos nigeria</h2>
            
        </div>
    
    <div class="footer-bottom">
    <h1>developed by:</h1>
    <!--<h4>nuel4xelence@yahoo.com</h4>-->
    
    </div>
    </div>
    
    
</body>
</html>