{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <link rel="stylesheet" type="text/css" href="{% static 'styling/recipe.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <title>Recipe Info</title>

      </head>
      <body>
    
        <div>
          <div id="main">
              <nav>
                  <a href="index.html"><img src="{% static 'img/bg-img/FF.png' %}"  width="70" height="40" alt=""></a>
              <ul>
                <li><a href="live">OUR PRODUCTS</a></li>
                <li><a href="cook">COOKING FACTS</a></li>
                <li><a href="recipe_info">RECIPES</a></li>
                <li><a href="carrer">CARRERS</a></li>
                <li><a href="story">OUR STORIES</a></li>
           
              </ul>
              </nav>
          </div> 
          
      </div>
      <div class="select"><h1>recipe </h1></div>
      <div class="cont">
      <div class="box">
          
            <div class="imgbx">
               <a ><img  width="361" height="238" src="{% static 'img/bg-img/breadcumb4.jpg' %}" alt=""></a> 
            </div>   
      
          <div class="rep">
            <div class="dinner">
              <h1>Dinner in a Hurry</h1>
              <p>Glazed Chicken</p>
              <p>Grilled Satay Chicken with Peanut Dipping Sauce</p>
             <p>Easy Chicken and Mushroom Bake</p>
             <p>Teriyaki Chicken Pasta</p>
             <p>Coconut Chicken Curry with Peppers</p>
             <p>Country Ribbon BBQ Rub</p>
             <p>Fresh Green Paste for the Grill</p>
              <!--<h1>FINITY FARM INT</h1>-->
            </div>
            <div class="dinner_inn">
              <h1>Favourites from Home</h1>
              <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
            </div></div></div>
           
          </div>
          </div>
          
         

          <div class="box1">
          
            <div class="imgbx1">
               <a ><img  width="361" height="238" src="{% static 'img/bg-img/breadcumb1.jpg' %}" alt=""></a> 
            </div>   
      
          <div class="rep1">
            <div class="dinner1">
              <h1>Dinner in a Hurry</h1>
              <h3>Fresh Green Paste for the Grill</h3>
              <p>FINITY FARM INT</p>
            </div>
            <div class="dinner_inn1">
              <h1>Favourites from Home</h1>
              <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
            </div></div></div>
           
          </div>
          <div class="box2">
          
            <div class="imgbx2">
               <a ><img  width="361" height="238" src="{% static 'img/bg-img/breadcumb2.jpg' %}" alt=""></a> 
            </div>   
      
          <div class="rep2">
            <div class="dinner2">
              <h1>Dinner in a Hurry</h1>
              <h3>Fresh Green Paste for the Grill</h3>
              <p>FINITY FARM INT</p>
            </div>
            <div class="dinner_inn2">
              <h1>Favourites from Home</h1>
              <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
            </div></div></div>
           
          </div>
          <div class="box3">
          
            <div class="imgbx3">
               <a ><img  width="361" height="238" src="{% static 'img/bg-img/breadcumb3.jpg' %}" alt=""></a> 
            </div>   
      
          <div class="rep3">
            <div class="dinner3">
              <h1>Dinner in a Hurry</h1>
              <h3>Fresh Green Paste for the Grill</h3>
              <p>FINITY FARM INT</p>
            </div>
            <div class="dinner_inn3">
              <h1>Favourites from Home</h1>
              <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
            </div></div></div>
            <div class="box4">
          
              <div class="imgbx4">
                 <a ><img  width="361" height="238" src="{% static 'img/bg-img/breadcumb5.jpg' %}" alt=""></a> 
              </div>   
        
            <div class="rep4">
              <div class="dinner4">
                <h1>Dinner in a Hurry</h1>
                <h3>Fresh Green Paste for the Grill</h3>
                <p>FINITY FARM INT</p>
              </div>
              <div class="dinner_inn4">
                <h1>Favourites from Home</h1>
                <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
              </div></div></div>
              <div class="box5">
          
                <div class="imgbx5">
                   <a ><img  width="361" height="238" src="{% static 'img/bg-img/bg3.jpg' %}" alt=""></a> 
                </div>   
          
              <div class="rep5">
                <div class="dinner5">
                  <h1>Dinner in a Hurry</h1>
                  <h3>Fresh Green Paste for the Grill</h3>
                  <p>FINITY FARM INT</p>
                </div>
                <div class="dinner_inn5">
                  <h1>Favourites from Home</h1>
                  <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
                </div></div></div>
                <div class="box6">
          
                  <div class="imgbx6">
                     <a ><img  width="361" height="238" src="{% static 'img/bg-img/bg4.jpg' %}" alt=""></a> 
                  </div>   
            
                <div class="rep6">
                  <div class="dinner6">
                    <h1>Dinner in a Hurry</h1>
                    <h3>Fresh Green Paste for the Grill</h3>
                    <p>FINITY FARM INT</p>
                  </div>
                  <div class="dinner_inn6">
                    <h1>Favourites from Home</h1>
                    <h3>Classic Newfoundland Stuffed Chicken Breasts</h3>
                  </div></div></div>
          </div>
          <footer>
            Finity Farm limited
        </footer>
        
            </div>
        <div class="footer-main-div">
            <div class="footer-social-icons">
                <ul>
                    <li><a href="#" target="blank"><i class="fab fa-facebook-f"></i></li>
                    <li><a href="#" target="blank"><i class="fab fa-twitter"></i></li>
                    <li><a href="#" target="blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" target="blank"><i class="fab fa-google-plus-square"></i></a></li>
                    <li><a href="#" target="blank"><i class="fab fa-snapchat"></i></a></li>
               
                </ul>
            </div>
           
            <div class="footer-menu-two">
                <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-menu-three">
                <ul>
                <li><a href="">Distributors</a></li>
                <li><a href="">Cooking Facts</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Our Story</a></li>
                <li><a href="">Services</a></li>
                </ul>
            </div>
            <div class="phone">
                <h3>(Monday to Saturday ,9am to 6pm)</h3>
                <h2>+23424108205</h2>
        
            </div>
            <div class="address">
                <h2>nuel4xelence@gmail.com</h2>
                <h2>33 lord lugard street ikoyi,lagos nigeria</h2>
                
            </div>
        
        <div class="footer-bottom">
        <h1>developed by:</h1>
        <!--<h4>nuel4xelence@yahoo.com</h4>-->
      </body>
    </html>