{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
       
        <title>Our Story</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styling/story.css' %}">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      
</head>
<body>
    <div>
        <div id="main">
            <nav>
                <a href="index.html"><img src="{% static 'img/bg-img/FF.png' %}"  width="70" height="40" alt=""></a>
            <ul>
                <li><a href="live">OUR PRODUCTS</a></li>
            <li><a href="cook">COOKING FACTS</a></li>
            <li><a href="recipe_info">RECIPES</a></li>
            <li><a href="carrer">CARRERS</a></li>
            <li><a href="story">OUR STORIES</a></li>
       
            </ul>
            </nav>
        </div> </div>
<div class="our">
    <h1>our story</h1>
</div>
        <div class="story">
            <div class="story_img">
                <a ><img  width="1000" height="550" src="{% static 'img/bg-img/ch1.jpeg' %}" alt=""></a> 
             </div>                
               
             <div class="story_info">
                 <p>Finity Farm Ltd. is proud to supply Newfoundland and Labrador with quality, made-right-here, fresh and individually fresh frozen chicken products.</p>
                 <p>Since being established, we’ve developed into this province’s only fully-integrated chicken producer and processor. That means we’re involved in every stage of the process – we know where our product is going, and where it’s been, all the way from farm to plate.</p>
                 <p>From our modern barns, with plenty of space, and 24-hour-a-day access to fresh feed and clean water, federally-inspected processing where we employ hundreds of Newfoundlanders, Country Ribbon always goes the distance to ensure quality and safety – after all, we live and work right here in your community.</p>
                <h1>Facts about Finity Farm</h1>
                </div></div>     
    
                          
    <footer>
        Finity Farm limited
    </footer>
    
        
    <div class="footer-main-div">
        <div class="footer-social-icons">
            <ul>
                <li><a href="#" target="blank"><i class="fab fa-facebook-f"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-twitter"></i></li>
                <li><a href="#" target="blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-google-plus-square"></i></a></li>
                <li><a href="#" target="blank"><i class="fab fa-snapchat"></i></a></li>
           
            </ul>
        </div>
       
        <div class="footer-menu-two">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-menu-three">
            <ul>
            <li><a href="">Distributors</a></li>
            <li><a href="">Cooking Facts</a></li>
            <li><a href="">Recipes</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Services</a></li>
            </ul>
        </div>
        <div class="phone">
            <h3>(Monday to Saturday ,9am to 6pm)</h3>
            <h2>+23424108205</h2>
    
        </div>
        <div class="address">
            <h2>nuel4xelence@gmail.com</h2>
            <h2>33 lord lugard street ikoyi,lagos nigeria</h2>
            
        </div>
    
    <div class="footer-bottom">
    <h1>developed by:</h1>
    <!--<h4>nuel4xelence@yahoo.com</h4>-->
    
    </div>
    </div>
    
</body>
</html>