*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}
#main{
    width: 100%;
    height: 10vh;
    background-color: url(static/img/bg-img/ch1.jpeg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 40px;
    background-color: #000000;
    line-height: 40px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color: #f39d1a;
}
nav ul li a{
    text-decoration: none;
    color: green;
    padding: 30px;
}

/* Slide show */
figure{
    width: 80%;
    height: 60vh;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide{
    width: 80%;
    height: 100%;
    display: none;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* figure .slide div{
    float: left;
    width: 20%;
}
figure .slide img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
figure .slide{
    position: relative;
    widows: 500%;
    margin: 0;
    animation: animate 20s infinite;
} */
.slide p {
    color: #fff;
    font-size: 70px;
    padding: 8px 12px;
    position: absolute;
    height: 10vh;
    bottom: 2px;
    width: 50%;
    margin-left: 20%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    
}
@keyframes animate {
    0%{left: 0;}
    10%{left: 0;}
    12%{left: -100%;}
    22%{left: -100%;}
    24%{left: -200%;}
    34%{left: -200%;}
    36%{left: -300%;}
    46%{left: -300%;}
    48%{left: -400%;}
    58%{left: -400%;}
    60%{left: -300%;}
    70%{left: -300%;}
    72%{left: -200%;}
    82%{left: -200%;}
    84%{left: -100%;}
    94%{left: -100%;}
    96%{left: 0;}
}

.pro h1{
    background-color: green;
    text-align: center;
    font-size: 40px;
    font-weight: 30px;
    color: white;
    width: auto;

    margin-top: 20px;    
    padding: 10px;
}

.container3{
    max-width: 1000px;
    margin: auto;
  /* background: #f2f2f2;*/
    overflow: auto;
}
.gallery3{
    margin: 35px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 240px; 
    margin: 20px;
   padding: 20px;
   
}

.gallery3 img{
    width: 100%;
    width: 240px; 
    height: 150px;
    margin-right: 30px;
    transition: 0.8s all;

    
}
.desc3{
    padding:15px;
    text-align: center;
    font-size: 20px;
    color: #008000;
}



.live{
    margin-top: 30px;
    margin-left: 80px;
    /*background-color: red;*/
}
.live h1{
    width: 20%;
    background: red;
    
    margin-left: 200px;


}
.row{
    margin-top: 10px;
    width: 80%;
    padding: 50px;
    height: 200px;
}
.col{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 290px;
    margin-top: 50px;
}
.card{
    margin-top: 10px;
   padding: 20px;
   border: 1px solid #ccc;
   margin: auto;
    /*background-color: green;*/
}
.card-img-top{
    margin-top: 10px;
    background: red;
    width :220px;
    height:125px;
    
    
}

footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: #32cd32;
    text-align: center;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
    margin-top: 40px;

}

.footer-main-div{
    width: 100%;
    height: 218px;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    margin-bottom: 0px;
    
}
.footer-main-div a{
    text-decoration: none;
    outline: none;
    
}

.footer-social-icons{
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 280px;

}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #32cd32;
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-social-icons ul li:hover{
    background: red;
}

.footer-menu-two{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 25px;
    margin-left: 280px;
}
.footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-two li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-two ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-two ul li a:hover{
    color: #32cd32;
}

.footer-menu-three{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-left: 280px;
}
.footer-menu-three ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-three li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-three ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-three ul li a:hover{
    color: #32CD32;
}
.phone h3 {
    color:ghostwhite;
    margin-left: 30px;
    top: -120px;
    position: relative;
    
}
.phone h2{
    color:ghostwhite;
    margin-left: 30px;
    top: -120px;
    position: relative;
    
}
.address h2{
    margin-top: 5px;
    color: ghostwhite;
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    top: -110px;
    
}

.footer-bottom h1{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: #32cd32;
    text-align: left;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
    margin-top: -30px;
}

@media only screen and (min-width:768px) and (max-width:991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}
@media only screen and (min-width:767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}



@media screen and (min-width:768px){

    .display-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
    
    
    .display-grid div{
        padding: 0 .5rem;
    }

}
/*footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: #32cd32;
    text-align: center;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
    margin-top: 40px;
}

.footer-main-div{
    width: 100%;
    height: 218px;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    margin-bottom: 0px;
    
}
.footer-main-div a{
    text-decoration: none;
    outline: none;
    
}
.footer-social-icons{
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 280px;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #32cd32;
    
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-social-icons ul li:hover{
    background: red;
}

.footer-menu-two{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 25px;
    margin-left: 280px;
}
.footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-two li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-two ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-two ul li a:hover{
    color: #32cd32;
}

.footer-menu-three{
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-left: 280px;
}
.footer-menu-three ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-three li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu-three ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-menu-three ul li a:hover{
    color: #32CD32;
}
.phone h3 ,h2 {
    color:ghostwhite;
    margin-left: 30px;
    top: -120px;
    position: relative;
    
}
.address h2{
    color: ghostwhite;
    font-size: 18px;
    margin-top: 20px;
}
.footer-bottom h1{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: #32cd32;
    text-align: left;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
    margin-top: -30px;
}